* {
  color:grey;
}

.App {
  background-color: gainsboro;
  min-height: 100vh;
}

.App-logo {
  height: 12vmin;
}

.App-header {
  background-color: #bab6b7;
  height: 13vh;
  width:100%;
  display:flex;
  font-size: calc(10px + 2vmin);
}

.graph {
  margin:5%;
}

h2 {
  padding-bottom:2%;
}

.container {
  display:flex;
  margin: 5% 10%;
}

.pie {
  margin-top:10%;
  margin-left:20%;
  color:black;
}